.text-muted {
        color: #e0e0e0; /* Replace with your desired light blue color */
    }

.background-image {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.navbar {
  background-image: linear-gradient(to top, #FFBA81,   #0000 );
  transition: background-color 0.5s;
}

h1{
    color: #228B22;
}
h3{
    color: #228B22;
}
.corner-image {
    width: 30%;
  position: absolute;
  top: 0;
  right: 0;
}

.forest-green{
    font-size: 18px;
}

.forest-green tr:nth-child(even) {
    padding-top: 5px;
    color: #6B4739; /* Set background color for even-indexed li elements */

}

.forest-green tr:nth-child(odd) {
    color:  #228B22; /* Set background color for odd-indexed li elements */
    background-color: #FFBA81;
}

#generateClassRaceBtn{
    background-color: #FF8127 !important;
    color: #FFFFFF;
}
#generateClassRaceBtn:hover {
    background-color: #E4935A !important;
}


@keyframes rollDice {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.popup h4 {
  text-align: center;
}

.popup #throwResults,
.popup #sumResult {
  margin-bottom: 10px;
}

.popup .close-btn {
  display: block;
  margin: 0 auto;
}

.popup.show,
.popup-overlay.show {
  display: block;
}

/* Rest of the CSS styles for dice images */
