{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container">
        <!-- Image on the left -->
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo.png' %}" alt="Logo" width="10%" height="10%">
        </a>

        <!-- Navbar items -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Regiony</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Státy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Města</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">NPCs</a>
            </li>
        </ul>
    </div>
</nav>
