{% extends 'base.html' %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        {% for stat in staty %}
        <div class="col-md-4">
            <div class="card">
                <a href="{{ stat.nazev }}">
                    {% if stat.vlajka %}
                        <img src="{{ stat.vlajka.url }}" class="card-img-top" alt="{{ stat.nazev }}">
                    {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ stat.nazev }}">{{ stat.nazev }}</a></h5>
                    <p class="card-text">Nachází se v: {{ stat.region }}</p>
                    <p class="card-text">Rozloha: {{ stat.rozloha }}</p>
                    <p class="card-text">Politické uspořádání:
                    {% for politika in stat.politicke_usporadani.all %}
                        {{ politika.nazev }}</p>
                        {% if stat.politicke_usporadani.popis %}
                            <hr>
                            <p class="card-text">{{ politika.popis }}</p>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}